/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// LAYERS
#define DEFAULT 0
#define NUM     1
#define FUNC    2
#define GAME    3

/ {
        behaviors {
                mo_sk: mo_sk {
                        compatible = "zmk,behavior-hold-tap";
                        label = "MO_SK";
                        bindings = <&mo &sk>;
                        tapping-term-ms = <200>;
                };

                kp_to: kp_to {
                        compatible = "zmk,behavior-hold-tap";
                        label = "KP_TO";
                        bindings = <&kp &to>;
                        tapping-term-ms = <200>;
                };

                mo_kp: mo_kp {
                        compatible = "zmk,behavior-hold-tap";
                        label = "MO_KP";
                        bindings = <&mo &kp>;
                        tapping-term-ms = <200>;
                };

                kp_sk: kp_sk {
                        compatible = "zmk,behavior-hold-tap";
                        label = "KP_SK";
                        bindings = <&kp &sk>;
                        tapping-term-ms = <200>;
                };
        };

                
        macros {
                fname: fname {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LSHFT>
                        , <&macro_tap &kp A>
                        , <&macro_release &kp LSHFT>
                        , <&macro_tap &kp D &kp A &kp M>
                        ;
                };

                lname: lname {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_press &kp LSHFT>
                        , <&macro_tap &kp S>
                        , <&macro_release &kp LSHFT>
                        , <&macro_tap &kp O &kp U &kp T &kp H &kp W &kp I &kp C &kp K>
                        ;
                };

                email: email {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                        = <&macro_tap &kp A &kp D &kp A &kp M>
                        , <&macro_tap &kp S &kp O &kp U &kp T &kp H &kp W &kp I &kp C &kp K>
                        , <&macro_tap &kp AT &kp G &kp M &kp A &kp I &kp L>
                        , <&macro_tap &kp DOT &kp C &kp O &kp M>
                        ;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
//           |  Q  |  W  |  F  |  P  |  G  |    |  J  |  L  |  U  |  Y  |  '  |
//           |  A  |  R  |  S  |  T  |  D  |    |  H  |  N  |  E  |  I  |  O  |
//           |  Z  |  X  |  C  |  V  |  B  |    |  K  |  M  |  .  |  ,  |  ;  |
//
//              | LSHFT:TAB | SPC | L1:CMD |    | CTRL:L1 | L2:ENT | RSHFT:BSP |
// -----------------------------------------------------------------------------------------
                        bindings = <
&none &kp Q &kp W &kp F &kp P &kp G &kp J &kp L &kp U &kp Y &kp SQT &none
&none &kp A &kp R &kp S &kp T &kp D &kp H &kp N &kp E &kp I &kp O &none
&none &kp Z &kp X &kp C &kp V &kp B &kp K &kp M &kp DOT &kp COMMA &kp SEMI &none
&mt LSHIFT TAB &kp SPACE &mo_sk NUM LCMD &kp_to LCTRL NUM &mo_kp FUNC RET &mt RSHIFT BSPC
                        >;
                };

                num_layer {
// -----------------------------------------------------------------------------------------
//           |  !  |  7  |  8  |  9  |  #  |    |  +  |  -   |  UP  |   /   |  *  |
//           |  &  |  4  |  5  |  6  |  0  |    |  =  | LEFT | DOWN | RIGHT |  _  |
//           |  `  |  1  |  2  |  3  |  .  |    |  (  |  )   |   [  |   ]   |  \  |
//
//               | LSHFT:TAB | SPC |  CMD  |    | CTRL:L0 | L2:ENT | RSHFT:BSP |
// -----------------------------------------------------------------------------------------
                        bindings = <
&none &kp EXCL &kp N7 &kp N8 &kp N9 &kp HASH &kp PLUS &kp MINUS &kp UP &kp FSLH &kp ASTRK &none
&none &kp AMPS &kp N4 &kp N5 &kp N6 &kp N0 &kp EQUAL &kp LEFT &kp DOWN &kp RIGHT &kp UNDER &none
&none &kp GRAVE &kp N1 &kp N2 &kp N3 &kp DOT &kp LPAR &kp RPAR &kp LBKT &kp RBKT &kp BSLH &none
&mt LSHIFT TAB &kp SPACE &kp_sk LCMD LCMD &kp_to LCTRL DEFAULT &mo_kp FUNC RET &mt RSHIFT BSPC
                        >;
                };

                func_layer {
// -----------------------------------------------------------------------------------------
//    | ESC |  .  |  .  |    .    |    .    |    |new_inc | new_win|new_tab |  .  | pg_up |
//    |  .  |  .  |  .  |BRIGHT_DN|BRIGHT_UP|    |  MUTE  | VOL_DN | VOL_UP |  .  | pg_dn |
//    |fname|lname|email|    .    |    .    |    |    .   |    .   |   .    |  .  |  end  |
//
//                     |  GAME  |  .  |  .  |    |  .  |  .  |  .  |
// -----------------------------------------------------------------------------------------
                        bindings = <
&none &kp ESC &none &none &none &none &kp LC(LS(N)) &kp LC(N) &kp LC(T) &none &kp PG_UP &none
&none &none &none &none &kp C_BRI_DN &kp C_BRI_UP &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none &kp PG_DN &none
&none &fname &lname &email &none &none &none &none &none &none &kp END &none
                &to GAME &none &none &none &none &none
                        >;
                };

                game_layer {
// -----------------------------------------------------------------------------------------
//           | ESC  |  Q  |  W  |  E  |  R  |    |   1  |   2  |  UP  |   3   |  4   |
//           |VOL_DN|  A  |  S  |  D  |  F  |    | MUTE | LEFT | DOWN | RIGHT |VOL_UP|
//           |  Z   |  X  |  C  |  V  |  B  |    |   I  |   J  |   M  |   T   | CTRL |
//
//                    | LSHIFT | SPC |  L0  |    |  L0  | SPC | RSHIFT |
// -----------------------------------------------------------------------------------------
                        bindings = <
&none &kp ESC &kp Q &kp W &kp E &kp R &kp N1 &kp N2 &kp UP &kp N3 &kp N4 &none
&none &kp C_VOL_DN &kp A &kp S &kp D &kp F &kp C_MUTE &kp LEFT &kp DOWN &kp RIGHT &kp C_VOL_UP &none
&none &kp Z &kp X &kp C &kp V &kp B &kp I &kp J &kp M &kp T &kp LCTRL &none
           &kp LSHIFT &kp SPACE &mo DEFAULT &to DEFAULT &kp SPACE &kp RSHIFT
                        >;
                };
        };
};